@keyframes shimmer {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

a.metallic-shimmer {
  position: relative !important;
  color: #cb9b51 !important;
  display: inline-block !important;
  font-weight: 600 !important;
  text-decoration: underline;
}

a.metallic-shimmer::before {
  content: '';
  position: absolute !important;
  top: 0 !important;
  left: -100% !important;
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 100%
  ) !important;
  animation: shimmerEffect 2s infinite !important;
}

@keyframes shimmerEffect {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.metallic-shimmer:hover {
  animation: shimmer 1.5s linear infinite;
} 