@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 24 95% 53%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24 95% 53%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-background text-foreground;
  }
}

.nav-link {
  @apply relative px-4 py-2 text-sm font-medium text-primary transition-colors duration-200;
}

.nav-link::after {
  content: '';
  @apply absolute left-0 bottom-0 w-full h-0.5 bg-primary scale-x-0 transition-transform duration-200 ease-out;
}

.nav-link:hover::after {
  @apply scale-x-100;
}

.nav-link.active {
  @apply text-primary;
}

.nav-link.active::after {
  @apply scale-x-100;
}
